
<link rel="stylesheet" href="/css/style.css" type="text/css">

<body>
    <p>AWS Service Delivery Program Prerequisites | Amazon RDS </p>
    <!-- <span>The following items will be validated by the AWS PMSA</span> -->
    <hr>
        <div id="card-container">
          <div class="card">
                <div class="card-header">
                    <h2>APN Program Requirements</h2>
                </div>
                <div class="card-body">   
                    <form> 
                            <label>What is services Path Membership did the partner join?</label><br>
                            <input type="textbox" id="Requirement1" required><br>
                            <span>- Partner must at the Validated or Differentiated stage within the Services Path</span><br>
                    </form>
                </div>
              </div>
              <div class="card3">
                <div class="card-header">
                    <h2>Amazon RDS Practice and Focus | AWS Partner Microsite</h2>
                </div>
                <div class="card-body">   
                    <form> 
                        <label>Does The partner have a Microsite?</label><br>
                        <span>- AWS Partner must have an AWS-branded microsite that highlights their AWS practice</span><br>
                        <span>- Microsite should include mention of their expertise with Amazon RDS</span><br><br>
                        
                        <input type="radio" class="Requirement2" name="opation1" value="Yes">
                        <label for="yes">Yes, Microsite URL:  </label><input type="textbox" id="Requirement3" required><br><br>
                        <input type="radio" class="Requirement2" name="opation1" value="No">
                        <label for="no">No</label><br>
                      
                
                        
                      </form>
                </div>
              </div>
        


              <div class="card4">
                <div class="card-header">
                    <h2>AWS Partner Self-Assessment</h2>
                </div>
                <div class="card-body">           
                    <form> 
                        <label>Does the partner complate the Self-Assessment Spreadsheet for each case study?</label><br>
                        <span>- All sections of the Self-Assessment Spreadsheet must be completed for each case study and spreadsheet must be attached to the associated application in AWS Partner Central.</span><br>
                        <input type="radio" class="Requirement4" name="opation2" value="Yes">
                        <label for="yes">Yes</label><br>
                        <input type="radio" class="Requirement4" name="opation2" value="No">
                        <label for="no">No</label><br>
                      </form>
              </div>
        
          </div>


</body>



