<footer>
    <link rel="stylesheet" href="/css/footer.css" type="text/css">

    <!-- <div class="container">
      <p class="footer">&copy 2022 - AWS Gap Analysis Tool</p>
    </div> -->

    <div class="fixed-footer">
        <div class="container-footer">
            <P class="fo-ti">&copy; 2022 - AWS Gap Analysis Tool</P> 
        </div>        
    </div>
</footer>