<%- include('../partials/head') %>
<link rel="stylesheet" href="/css/headers.css" type="text/css">


<!-- <header class="head"> -->
    <div class="navigation-bar">


        <div id="navigation-container">
    
          <h2 id="bar">Gap Anlysis Tool</h2>
    
          <!-- <ul>
            <a>Step</a>
          </ul> -->
        </div>
        </div>
          

