body {
  margin: 0;
  padding: 0;
}
h2.bar{
    margin-top: 19px;
    margin-left: 5px;
    font-size: 10px;
    text-align: left;
    color: rgb(250, 250, 253);
    line-height: 100px;
    text-transform: uppercase;
    font-weight: 90;
}
#navigation-container {
  width: 1200px;
  margin: 0 auto;
  height: 90px;
  margin-left: 10px;
}


.navigation-bar {
  background-color: #12293b;
  height: 90px;
  width: 100%;
  text-align:left;
  margin-top: 0px;
  margin-bottom: 50px;
  padding: 10px;
}
/* 
.navigation-bar ul {
  padding: 0px;
  margin: 30px;
  text-align: center;
  display:inline-block;
  vertical-align:top;
  color: rgb(103, 19, 22);
 
}
.navigation-bar li {
  list-style-type: none;
  padding: 0px;
  height: 24px;
  margin-top: 4px;
  margin-bottom: 4px;
  display: inline;
}

.navigation-bar li a {
  color: black;
  font-size: 16px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  text-decoration: none;
  line-height: 70px;
  padding: 5px 15px;
  opacity: 0.7;
  width: 40px;
} */

