<!DOCTYPE html>

<head>



   


    <%- include('../partials/head') %>

    <!-- <link rel="stylesheet" href="/css/index.css" type="text/css"> -->
    <!-- <link rel="stylesheet" href="/css/style.css" type="text/css"> -->

<style>
     /* index page */


.headerbody{
    margin-top: 100px;
    margin-left: 50px;
    display: flex;
    /* justify-content: center;
    text-align: center; */
    color: #232F3E;
  

}

p.title{
    /* margin-left: 640px; */
    margin-top: 50px;
    text-align: center;

}
p.subtitle{
    font-size: medium;

}


a.btn-press{

background-color: #12293b;
color: #ffffff;
border: navajowhite;
padding: 10px 40px;
margin-left: 640px;
margin-bottom: 50px;
font-size: 17px;
font-family: Raleway;
cursor: pointer;
border-radius: 12px;

}


</style>

</head>



<body>

    <%- include('../partials/header') %>
    
    
    
    
    
        <div id="headerbody">
            <p id="title">AWS Gap Analysis Tool</h1>
            <p id="subtitle">The partners that are early on their journey</h4>
            <div id="button-box">
                <!-- <button   type="button" id="Btn" href="/option" >  Start now  </button> -->
                <!-- <button   type="button" id="Btn" onclick='/option'>  Start now  </button> -->
                <a class="btn-press" href="/option" >Start now </a>


              </div>
           
    
        </div>


</body>
</html>

