<!DOCTYPE html>

<head>
  <%- include('../partials/head') %>
  <link rel="stylesheet" href="/css/style.css" type="text/css">
  <script src="/js/migration.js"></script>
</head>



<body>


  <%- include('../partials/header') %>
  <%- include('../shared/sharedreq') %>
  
  <div class="card4">
    <div class="card-header">
        <h2>Migration Prerequisites</h2>
    </div>
    <div class="card-body">   
     <!-- should cahnge the page /action_page.php-->

        <form> 
            <label>Migration Specific Customer Example Requirements</label>
            <input type="textbox" id="currentstate5" ><br>
            <span>Require: 4 (being 2 public) and up to 8 customer examples in total to meet all the customer example requirements.</span>
            <br><br>
            <label>AWS Migration Certified Personnel</label><br><br>
            <label>AWS Associate, Professional or Specialty Certified Individuals</label>
            <input type="textbox" id="currentstate6"><br>
            <span>Require: AWS Partner must have ≥ 15 AWS Associate, Professional or Specialty Certified Individuals
                Of which</span>
           <label> AWS Professional or Specialty Certified Individuals</label>
            <input type="textbox" id="currentstate7"><br>
            <span>Require:AWS Partner must have ≥ 8 must be AWS Professional or Specialty Certified Individuals</span>
    
          </form>



  </div>

</div>



<footer>

  <%- include('../partials/footer') %>

</footer>
</body>
</html>